/***************************************************************************
 * Template_1
 *
 * Author: Tim Lee
 * 
 * This SCSS file is an additional design template that changes the look ,
 * feel, and layout of the entire website.
 **************************************************************************/


/**********************************************************************
 * Component/Page(s): Header.vue
 **********************************************************************/

/* Set the color of the header above navbar */
$color-header-light: rgb(126, 130, 141);
$color-header-dark: rgb(1, 10, 27);

/* styling for the header component */
%template-header-component-style{
    width: 100%;
    height: 65px;
    background-image: linear-gradient(to right,  $color-header-dark, $color-header-light,  $color-header-dark);
}

/* clear url for header logo */
%header-img-pic{
    background: url("");
} 

/* set width for header logo */
$template-header-img-width: 200px;

/* set padding for header logo */
%template-logo-style-padding{
    padding: 1em;
    height: 1em;
    display: flex;
    justify-content: center;
}


/**********************************************************************
 * Component/Page(s): home_view.vue
 **********************************************************************/

/* styling for homepage carousel */
%template-homepage-component-img-carousel{
    width: 48%;
    display: black;
    float: right;
    margin-top: 15px;
}

/* background image for homepage */
$default-background-img-homepage: "../support_background.jpg";

/* gradient overlay for background */
$template-homepage-component-bg-grad: linear-gradient(rgba(25, 27, 58, 0.8) 55%, rgba(0,0,0,0));

/* title for black box on homepage */
%template-homepage-component-header-title{
    font-family: Verdana, Geneva, sans-serif;
    color:rgba(122, 99, 177, 0.9); 
    font-weight: bold; 
    font-size: 52px;
    text-shadow: 0 1px 0 #ccc, 
                0 2px 0 #c9c9c9,
                0 2px 0 #bbb,
                0 2px 0 #b9b9b9,
                0 3px 0 #aaa,
                0 4px 1px rgba(0,0,0,.1),
                0 0 2px rgba(0,0,0,.1),
                0 1px 1px rgba(0,0,0,.3),
                0 2px 2px rgba(0,0,0,.2),
                0 2px 2px rgba(0,0,0,.25),
                0 3px 3px rgba(0,0,0,.2),
                0 3px 3px rgba(0,0,0,.15);
}

/* divider line between black box title and text */
%template-homepage-component-header-divider{
    background-color: rgb(181, 72, 253);
    width:100px
}

/* set black box text color */
$template-homepage-component-header-body-color: rgb(214, 65, 65);

/* styling for homepage black box */
%template-homepage-component-header-box{
    width: 50%;
    height: 100%;
    position: absolute; top: 15px; left: 10px;
    font-family: 'FuturaPT', Arial, sans-serif;
    color: black;
    background: rgba(26, 23, 23, 0.8);
    font-size: 25px;
}

/* styling for homepage buttons */
%template-homepage-component-button{
    border: none;
    background-color: transparent;
    background-repeat: no-repeat;
    cursor: pointer;
    border: 1px solid white;
    color: white;

    width: 300px;
    height: 105px;
    font-size: 20px;
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 100px;
    z-index: 1;
}

/* positioning for homepage buttons */
%template-homepage-component-btn-wrap{
    display: flex;
    justify-content: center;
    width: 10px;
    height: 10px;
    margin: 0 auto;
    text-decoration: none;
}


/**********************************************************************
 * Component/Page(s): Navbar.vue
 **********************************************************************/

/* positioning for navbar */
%template-navbar-component-style{
    float:left;
    color: #f2f2f2;
    text-align: center;
    padding: 8px;
    justify-content: stretch;
}

/* set background color for navbar */
$template-navbar-component-color: rgb(0, 0, 0);

/* styling for navbar buttons */
%template-navbar-component-text-style{
    color: rgb(186, 185, 197); 
    font-family: 'FuturaBT', Arial, sans-serif;
    font-size: 18px;
    background-image: linear-gradient(to bottom, rgb(0, 0, 0), black);
    margin-left: 15px;
}

/* styling for disabled navbar buttons */
%template-navbar-component-disabled-style{
    color: rgb(78, 78, 78);
    background-image: linear-gradient(to top, rgb(46, 46, 46), black);
}

/* styling for focused navbar buttons */
$template-navbar-component-focus-button: linear-gradient(to top, rgb(0, 0, 0), black);

/* styling for the account dropdown button (unused)*/
%template-dropdown-account-button{
    color: rgb(163, 128, 128);
    font-family: 'FuturaBT', Arial, sans-serif;
    background-image: linear-gradient(to bottom, rgb(0, 0, 0), black);
    
}

/* styling for the disabled dropdown button (unused) */
%template-dropdown-account-button-disabled{
    color: rgb(78, 78, 78);
    background-image: linear-gradient(to top, rgb(68, 64, 64), black);
}


/**********************************************************************
 * Component/Page(s): Sponsors.vue
 **********************************************************************/

/* Background color of sponsors page. */
$sponsors-page-background-color: rgb(98, 107, 206);

/* Font size and color of titles of accordion */
$support-page-background-color: rgb(98, 107, 206);

/* Font size and margin of text in accordion body */
%template-overview-sponsors-component-accordion-title{
    font-size: 30px;
    cursor: pointer;
    color: rgb(255, 255, 255);
    text-shadow: rgb(38, 16, 139) 0px 0px 10px;
    opacity: 0.75;
}

/* Style for left side of sponsors page */
%template-why-sponsor-component-left-col{
    font-family: Verdana, Geneva, sans-serif;
    font-size: 55px;
    color: rgb(64,46,148);
    text-shadow: 0 1px 0 #ccc, 
                0 2px 0 #c9c9c9,
                0 3px 0 #bbb,
                0 4px 0 #b9b9b9,
                0 5px 0 #aaa,
                0 6px 1px rgba(0,0,0,.1),
                0 0 5px rgba(0,0,0,.1),
                0 1px 3px rgba(0,0,0,.3),
                0 3px 5px rgba(0,0,0,.2),
                0 5px 10px rgba(0,0,0,.25),
                0 10px 10px rgba(0,0,0,.2),
                0 20px 20px rgba(0,0,0,.15);
}

/* Font size and color of "Why sponsors Us?" */
%template-why-sponsor-component-subtitle{
    font-size: 35px;
    color:rgb(121, 60, 179);
    text-shadow: rgb(109, 95, 126) 0px 0px 10px;
}

/* Font size and color of why sponsor us description */
%template-why-sponsor-component-body{
    font-size: 20px;
    color:rgb(64, 54, 119);
    list-style-position: inside;
    text-align: left;
}

/* Style of "Featured Sponsors" header */
%template-sponsors-page-featured-sponsors-header{
    font-size: 45px;
    color:rgb(121, 60, 179);
    text-shadow: 0px 3px 0px #b2a98f,
                0px 8px 10px rgba(0,0,0,0.15),
                0px 10px 2px rgba(0,0,0,0.1),
                0px 10px 30px rgba(0,0,0,0.1);
    float: right;
    margin-right: 50px;
}

/* Width of featured sponsors cards */
$template-sponsors-page-sponsor-cards-width: 13rem;

/* Layout and design of sponsors cards */
%template-sponsors-page-sponsor-cards-style{
    float: right;
    margin-right: 105px;
    opacity: 0.95;
    background-attachment: fixed;
    text-align: center;
}

/* Padding from the top for all sponsors cards */
%template-sponsors-page-sponsors-list-cards-padding{
    margin-top: 15px;
    border: 1px solid black;
    box-shadow: 3px 3px 5px 6px rgb(114, 92, 165);
}

/* Layout and formatting of the accordion */
%template-sponsors-page-accordion-style{
    text-align: center;
    margin-top: 60px;
    opacity: .98;
}

/* Font size and margin of text in accordion body */
%template-overview-sponsors-component-accordion-body{
    text-align: left;
    margin-left: 300px;
    margin-right: 300px;
    font-size: 20px;
}


/**********************************************************************
 * Component/Page(s): blogposts/_id.vue
 **********************************************************************/

/* Background color */
$template-blogpost-id-background-color: rgb(187, 192, 238);

/* Size of title of blogpost */
$template-blogpost-id-title-font-size: 58px; 

/* Shadow effect for title */
$template-blogpost-id-title-shadow: 0 1px 0 rgb(157, 81, 196), 
                                    0 2px 0 rgb(157, 81, 196),
                                    0 3px 0 rgb(157, 81, 196),
                                    0 4px 0 rgb(157, 81, 196),
                                    0 5px 0 rgb(157, 81, 196),
                                    0 6px 1px rgba(0,0,0,.1),
                                    0 0 2px rgba(0,0,0,.1),
                                    0 1px 1px rgba(0,0,0,.3),
                                    0 2px 2px rgba(0,0,0,.2),
                                    0 2px 2px rgba(0,0,0,.25),
                                    0 3px 3px rgba(0,0,0,.2),
                                    0 3px 3px rgba(0,0,0,.15);

/* Font size and color of all comments titles */
%template-blogpost-id-comments-id-heading{
    font-size: 40px;
    line-height: 1;
    letter-spacing: -.05rem;
    color:#622aca;
    font-weight: bold;
    text-shadow: rgb(159, 146, 194) 0px 0px 10px;
}

/* Specify max size of blogpost images */
%template-blogpost-id-image-size{
    max-width: 250px;
    max-height: 250px;
    margin: 0 auto;
    display: block;
}

/* Style text of blogpost username */
%template-blogpost-id-username{
    font-size:18px;
    color: rgba(65, 36, 192, 0.904);
}


/**********************************************************************
 * Component/Page(s): Capstone.vue
 **********************************************************************/

/* Background color */
$template-capstone-page-background-color: rgb(187, 192, 238);

/* Make all components of page in the center */
%template-capstone-page-center-all-things{
    width: 600px;
    text-align: center;
    margin: auto;
}

/* Margin from top of page for searchbar */
%template-capstone-page-searchbar-margin-from-top{
    margin-top: 20px;
}

/* Style for dropdowns */
%template-capstone-page-all-dropdown{
    float: left;
    height: 2.5em;
}

/* Width of searchbar */
%template-capstone-page-searchbar{
    width: 550px;
}

/* Center the dropdowns */
%template-capstone-page-sponsors-box-and-dropdown{
    justify-content: center;
}

/* Put some top padding for sponsors checkbox */
%template-capstone-page-have-sponsors-box{
    float: right;
    margin-top: 9px;
}

/* Style for dropdown of capstone projects sorting */
%template-capstone-page-sorting-dropdown{
    margin-bottom: 5px;
}

/* Size and margins of each project card */
%template-capstone-page-project-cards{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    width: 100%;
    background-color: rgb(0, 0, 0);
    background-repeat: no-repeat;
    cursor: pointer;
    box-shadow: 3px 3px 5px 6px rgb(114, 92, 165);
}


/**********************************************************************
 * Component/Page(s): projects/_id.vue
 **********************************************************************/

/* Background color */
$template-project-page-background-color: rgb(187, 188, 238);

/* Placement of project title */
%template-project-page-title-placement{
    bottom: 3rem;
    display: block;
} 

/* Used in the linear-gradient of the template-project-page-title-style */
$color-project-page-title-light: rgb(0, 0, 0);
$color-project-page-title-dark: rgba(0, 0, 0, 0.151);

/* Font size and color of project title */
%template-project-page-title-style{
    font-size: 66px;
    color:#9247af;
    font-weight: bold;
    text-shadow: 0 1px 0 #ccc, 
                    0 2px 0 #c9c9c9,
                    0 3px 0 #bbb,
                    0 4px 0 #b9b9b9,
                    0 5px 0 #aaa,
                    0 6px 1px rgba(0,0,0,.1),
                    0 0 5px rgba(0,0,0,.1),
                    0 1px 3px rgba(0,0,0,.3),
                    0 3px 5px rgba(0,0,0,.2),
                    0 5px 10px rgba(0,0,0,.25),
                    0 10px 10px rgba(0,0,0,.2),
                    0 20px 20px rgba(0,0,0,.15);
    background-image: linear-gradient(to right,  $color-project-page-title-dark, 
                                            $color-project-page-title-light,  
                                            $color-project-page-title-dark);

}

/* Background color of carousel */
$template-project-page-carousel-background-color: rgba(142, 133, 158, 0.87);

/* Font size and color of marketing descriptions */
%template-project-page-marketing-desc{
    color:rgb(76, 39, 110);
    text-shadow: rgb(219, 220, 224) 0px 0px 10px;
    font-size: 46px;
}

/* Font size and color of marketing title */
%template-project-page-marketing-title{
    font-size: 75px;
    color:rgb(121, 60, 179);
    text-shadow: 0px 3px 0px #b2a98f,
                0px 8px 10px rgba(0,0,0,0.15),
                0px 10px 2px rgba(0,0,0,0.1),
                0px 10px 30px rgba(0,0,0,0.1);
    font-weight: bold;
}

/* Font size and color of project description section */
%template-project-page-project-of-desc{
    font-size: 31px;
    color:rgba(153, 63, 189, 0.87);
}

/* Style for featurette headers */
%template-project-page-featurette-heading-style{
    font-weight: 300;
    line-height: 1;
    letter-spacing: -.05rem;
    text-shadow: rgb(157, 81, 196) 0px 0px 17px;
}


/**********************************************************************
 * Component/Page(s): Support.vue
 **********************************************************************/

/* Background style */
%template-support-page-background-style{
    position:fixed;
    width: 100%;
    height: 100%;
    opacity: 0.48;
    background-color: $support-page-background-color;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Deisgn of title of support page */
%template-support-page-title{
    font-family: Verdana, Geneva, sans-serif;
    font-size: 50px;
    color: rgb(64,46,148);
    text-shadow: 0 1px 0 #ccc, 
                0 2px 0 #c9c9c9,
                0 3px 0 #bbb,
                0 4px 0 #b9b9b9,
                0 5px 0 #aaa,
                0 6px 1px rgba(0,0,0,.1),
                0 0 5px rgba(0,0,0,.1),
                0 1px 3px rgba(0,0,0,.3),
                0 3px 5px rgba(0,0,0,.2),
                0 5px 10px rgba(0,0,0,.25),
                0 10px 10px rgba(0,0,0,.2),
                0 20px 20px rgba(0,0,0,.15);
    text-align: center;
    margin-top: 20px;
}

/* Font size and centralize text of inquiry */
%template-support-page-inquiry{
    font-size: 25px;
    text-align: center;
}

/* Font size and color of support user contacts */
%template-support-page-users-color{
    font-size: 35px;
    color:rgb(109, 56, 158);
    text-shadow: rgb(170, 167, 173) 0px 0px 10px;
}



/**********************************************************************
 * Component/Page(s): all Create, Modify, or Remove pages
 **********************************************************************/

/* positioning for the forms on these pages */
%template-management-form-container{
    width: 400px;
    margin: auto;
    margin-top: 25px;
    text-align: center;
}

/* styling for the title on these pages */
%template-management-form-title{
    font-size: 18px;
    float: left;
}

/* styling for the dropdown selectors on these pages */
%template-management-form-selector{
    margin: 20px auto;
    display: block;
    padding: 5px 5px 5px 5px;
    font-size: 16px;
    background-color: rgb(187, 188, 238);
    border: 1px solid rgb(187, 188, 238);
    border-radius: 5px;
}

/* styling for the active dropdown selector on these pages */
%template-management-form-selector:active:focus{
    outline: none;
}

/* styling for the options of the dropdown selectors on these pages */
%template-management-form-selector-option{
    @extend %template-management-form-selector;
}

/* styling for the buttons on these pages */
%template-management-form-btn{
    background-color: rgb(187, 188, 238);
    margin: auto auto auto 0px;
}

/* styling for the remove buttons on these pages */
%template-management-form-remove-tag-btn:active{
    color: red;
}

/* styling for the focused button on these pages */
%template-management-form-btn:focus{
    outline: none;
}

/* styling for the remove buttons on these pages */
%template-management-form-remove-tag-btn{
    outline: none;
    border: none;
}

/* styling for hovering the remove buttons on these pages */
%template-management-form-remove-tag-btn:hover{
    cursor: pointer;
    text-decoration: underline;
}

/* styling for the background */
%template-dashboard-background{
    position: absolute;
    background-color: rgb(187, 192, 238);
    width: 100%;
    height: 100%;
}


/**********************************************************************
 * Component/Page(s): dashboard.vue, *_actions.vue
 **********************************************************************/

/* positioning for the header text */
%template-dashboard-header{
    margin-left: 5%;
    margin-top: 20px;
    font-size: 45px;
    color:rgb(121, 60, 179);
    text-shadow: 0px 3px 0px #b2a98f,
                0px 8px 10px rgba(0,0,0,0.15),
                0px 10px 2px rgba(0,0,0,0.1),
                0px 10px 30px rgba(0,0,0,0.1);
}

/* positioning for the table layout on these pages */
%template-dashboard-table-container{
    display: center;
    margin: 25px auto auto auto;
    width: 650px;
}

/* styling for the buttons on these pages */
%template-dashboard-button {
    background: none; /* Green */
    border: none;
    color: rgb(72, 60, 179);
    text-align: center;
    text-decoration: underline;
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
}

/* color for the text buttons */
$template-dashboard-button-color: rgb(179, 60, 60);

/* positioning for the Info column */
%template-dashboard-info-column{
    float: left;
    margin: 4px auto;
}

/* positioning for the Actions column */
%template-dashboard-actions-column{
    float: right;
    text-align: center;
    margin: 4px auto;
}

/* styling for the column headers */
%template-dashboard-table-header{
    text-decoration: underline;
    font-size: 25px;
    color:rgb(93, 59, 124);
    text-shadow: rgb(170, 167, 173) 0px 0px 10px;
}


/**********************************************************************
 * Component/Page(s): About.vue
 **********************************************************************/

/* Background CSS for about page. */
%template-about-page-background{
    position: absolute;
    background-color: rgb(187, 192, 238);
    width: 100%;
    height: 100%;
}


/**********************************************************************
 * Component/Page(s): Events.vue
 **********************************************************************/

/* Background color and padding for the entire page */
%template-events-page-fullCalendar {
    padding: 30px;
    background-color: rgb(187, 192, 238);
}

/* Color for when user selects a cell */
%template-events-page-fc-highlight {
    background: rgb(252, 233, 255);
    opacity: .5; 
}

/* Color and border settings of events displayed on the calendar */
%template-events-page-fc-event {
    border-radius: 7px;
    border: 3px solid rgb(233, 244, 255);
    background: rgb(255, 255, 233);
}

/* Color of text when hovering mouse over an event */
%template-events-page-popover {
    color: rgb(3, 148, 11);
}


/**********************************************************************
 * Component/Page(s): ManageTeamToCapstone.vue
 **********************************************************************/

/* Settings for background of the page. */
%template-manage-team-to-capstone-page-background{
    background-color: rgb(187, 192, 238);
    height: 950px;
}

/* Color and style of the select options. */
%template-manage-team-to-capstone-page-selectoption-css {
    margin: 20px auto;
    display: inline-block;
    padding: 5px 5px 5px 5px;
    font-size: 16px;
    background-color: rgb(154, 128, 180);
    border: 1px solid rgb(247, 247, 247);
    border-radius: 5px;
    appearance: none;
}

/* Color and style when selecting user. */
%template-manage-team-to-capstone-page-selectuser-css {
    margin: 20px auto;
    margin-right: 15px;
    display: inline-block;
    padding: 5px 5px 5px 5px;
    font-size: 16px;
    background-color: rgb(229, 223, 241);
    border: 1px solid rgb(247, 247, 247);
    border-radius: 5px;
    appearance: none;
}

